.icons-container {
    display: flex;
    flex-direction: column;
}

.icons-titles {
    color: black;
    padding: 0;
    margin: 0;
}

.closed-card {
    color: gray;
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 2px 2px 3px black;
}

.closed-card:hover {
   height: 100px;
   line-height: 100px;    
   color: black;
}

.closed-card-title {
    text-align: left;
    font-size: 3em;
}

.proj-container {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px black;
}

.expand-title {
    text-align: left;
    font-size: 3em;
    padding: 10px;
    margin: 0;
    color: gray;
}

.expand-title:hover {
   color: black;
}

.top-portion {

    display: flex;
    flex-direction: row;
}

.icons {
    text-decoration: none;
}

svg {
    margin-bottom: -50px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px black, -2px -2px 3px white;
    color: black;
}

.project-img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    padding-left: 10px;
}

.image-desc {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.project-desc {
    color: black;
    width: 500px;
    height: auto;
    padding: 10px;
}
