* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

/* Sidebar */

.content-sidebar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 150vh;
    background-color: "#B38867";
    z-index: 50;
}

img {
    padding: 25px;
    width: 200px;
    height: auto;
}

.contact {
    padding-left: 30px;
    list-style: none;
}

.sidebar ul {
    margin-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
}

.sidebar li {
    padding-bottom: 10px;
}

.sidebar .list-title {
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

svg {
    width: 40px;
    height: 40px;
    color: black;
}

svg:hover {
    color: white;
}

/* Middle of page items */
ul, li {
    list-style-type: none;
}

.content-contents {
    padding-left: 50px;
    padding-top: 30px;
}

h3 {
    text-align: center;
    font-size: 3rem;
    padding-bottom: 30px;
}

dd {
    padding-bottom: 30px;
    text-indent: 25px;
}

.list-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.re-title {
    text-indent: 25px;
    font-weight:bolder;
}