* {
  padding: 0;
  margin: 0;
}

.navlist {
   background-color: #F8F0E3;
   display: flex;
   flex-direction: row;
   width: 100%;
   list-style: none;
   padding: 20px;
   box-shadow: 2px 2px 3px black;
}

.nav-button {
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
  color: gray;
  padding: 5px;
  margin-right: 50px;
  //box-shadow: -1px 1px 2px, 1px -1px 2px gray;
  box-shadow: 2px 2px 3px, -2px -2px 3px white;
  border-radius: 5px;
}

.nav-button:hover {
  box-shadow: 2px 2px 3px, -2px -2px 3px white;
  color:black;
}

nav-button:active {
  box-shadow: none;
}
