* {
  padding: 0;
  margin: 0;
}

.navlist {
   background-color: #626D71;
   display: flex;
   flex-direction: row;
   width: 100%;
   list-style: none;
   padding: 20px;
   box-shadow: 2px 2px 3px black;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-right: 50px;
  box-shadow: 2px 2px 3px, -2px -2px 3px, -2px 2px 3px, 2px -2px 3px black;
  border-radius: 15px;
}

a:hover {
  box-shadow: 2px 2px 3px, -2px -2px 3px, -2px 2px 3px, 2px -2px 3px black;
  border-radius: 15px;
}

a:active {
  box-shadow: 1px 1px 3px, -1px -1px 3px, -1px 1px 3px, 1px -1px 3px black;
}
